doctype html
html(lang="ko")
    head
        include ./head
        block head


    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='/issue') 네네치킨 쿠폰 관리
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavAltMarkup.collapse.navbar-collapse
                .navbar-nav
                    a.nav-item.nav-link(href='/issue') 쿠폰 발급
                    a.nav-item.nav-link(href='/used') 쿠폰 사용 현황
                    a.nav-item.nav-link(href='/franchise') 프랜차이즈


        block content

        include ./script
        block script